.toolbar {
  padding: 5px; background: #f7f6f6;
  border-width: 1px 1px 0; border-radius: 6px 6px 0 0;
}

.button {
  display: inline-block; min-width: 18px; padding: 2px; border: 1px solid transparent;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  text-align: center; cursor: default; line-height: 1.0; min-height: 16px;
}
.button:hover {
  border-color: #bab6b3; border-top-color: #c4c1be; border-left-color: #c4c1be;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #FDFDFD 0%, #F1F0EF 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #F1F0EF));
  background: linear-gradient(top, #FDFDFD 0%, #F1F0EF 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#F1F0EF',GradientType=0)";
  filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#F1F0EF',GradientType=0);
}
.button.active, .button:active {
  border-color: #c4c1be; border-top-color: #bab6b3; border-left-color: #bab6b3;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #F4F3F1 0%, #E0DEDD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F3F1), color-stop(100%, #E0DEDD));
  background: linear-gradient(top, #F4F3F1 0%, #E0DEDD 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F3F1', endColorstr='#E0DEDD',GradientType=0)";
  filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F3F1', endColorstr='#E0DEDD',GradientType=0);
}

.wyme > .toolbar .text { display: none; }
.wyme > .toolbar .icon { display: inline-block; width: 16px; height: 16px; vertical-align: text-bottom; }
.wyme > .toolbar .bold   .icon { background: url(icons/text_bold.png); }
.wyme > .toolbar .italic .icon { background: url(icons/text_italic.png); }
.wyme > .toolbar .link   .icon { background: url(icons/link.png); }
.wyme > .toolbar .image  .icon { background: url(icons/image.png); }

.wyme > .toolbar .toggle { float: right; min-width: 55px; }
.wyme > .toolbar .toggle .text { display: inline; color: #4c4c4c; font-size: 13px; }
.wyme > .toolbar .toggle .icon { width: 0px; }

.wyme > .contents { padding: 5px; background: #FFF;
  border: 1px solid #b0aca8; border-top-color: #b8b4b0; border-left-color: #b8b4b0;
}
.wyme > .contents p { margin: 0 0 1em; }
.wyme > .contents p:last-child { margin-bottom: 0; }

